/*
* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
/* Estilo global */
body {
    background-image: url("/miweb/img/fondo.png");
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 10; 
}

/* Selectores */
h1 {
    color: #9af8ff;
    text-align: center;
}

h2 {
    color: var(--primary-color);
}
/*estilos para vagacion*/
.navbar {
    padding: 1px 0;
    text-align: center;

}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}
.navbar a {
    text-decoration:springgreen;
    color: white;
    font-size: 13px;
    padding: 8px 12px;
    transition: background 0.5s, transform 0.5s;
}

.navbar a:hover {
    background: #3a11f0;
    border-radius: 5px;
    transform: scale(1.1);
}
.navbar a.active {
    background: #42e795; /* Color de fondo destacado */
    border-radius: 5px;
    font-weight: bold;
}
/* Bordes, márgenes y rellenos */
.acerca {
    margin: 30px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #a1c7f8;
}
/* estilo para la galeria de fotos*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    max-width: 700px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(125, 219, 133);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
}
/*estilo para formulario*/
form {
    max-width: 400px;
    margin: 20px auto;
}

/*estilo para las etiquetas**/
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/*estilos para los campos de entrada*/
input 
textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 200px;
    border: 1px solid #333;
    border-radius: 5px;
}
